/*

    Seção Principal

*/
#sectionPrincipalRelatorio {
    margin: auto;
    width: 700px;
}

/*

    Titulo Página

*/

#containerTituloRelatorio {
    background-color: black;
    padding: 20px;
}

#containerTituloRelatorio>h2 {
    margin: 0;
    font-size: 1.5em;
    text-align: center;
}

/*

    Edição Informação

*/
#containerInformacaoRelatorio {
    background-color: rgba(0, 180, 232, 0.3);
    padding: 20px 50px;
    border-width: 0 3px 3px 3px;
    border-style: solid;
    border-color: rgba(0, 180, 232, 0.15)
}

#containerBotoes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
}

.botaoRetornaRelatorio {
    width: 200px;
    height: 50px;
    border-radius: 5px;

    background-color: #d5d8dc;
    border-width: 0;
    cursor: pointer;
}

.botaoRetornaRelatorio:hover {
    background-color: #4285f4;
    color: #ffff
}

.containerRelatorio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerSumario {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}


/*

    Resultado Composto

*/
.containerItemRelatorio {
    margin-top: 20px;
    padding: 10px;
    background-color: #d5d8dc;
}

.containerInternoRelatorio {
    margin-top: 20px;
}

.containerPrimario {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.containerPrimario>.labelDescricaoItemRelatorio {
    margin-top: 5px;
}

.containerItemSecundario>.labelItemRelatorio {
    margin: 0 10px;
}

.containerSecundario>.containerItemSecundario {
    margin-top: 5px;
}

.labelItemRelatorio,
.labelDescricaoSumario {
    color: #0000ee;
    font-size: 0.8em;
}

.containerItemSecundario>.labelItemRelatorio,
.labelDescricaoItemRelatorio,
.labelValorSumario {
    color: #000;
}

/*

    Sumario

*/
#containerSumario {
    margin-top: 50px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.containerLabelSumario {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #d5d8dc;
}

.labelDescricaoSumario {
    color: #0000ee;
    font-size: 1em;
}


.labelValorSumario {
    margin-top: 10px;
    color: #000;
    font-size: 1.5em;
}

/*

    Especializações

*/
.semMarginTop {
    margin-top: 0;
}

.semBorda {
    border-width: 0;
}